<div class="description" data-auto-collapse>
    {{{description}}}
</div>

<section class="message-buttons">
    <button type="button" data-action="roll-area-save" data-owner-title="{{saveBreakdown}}">
        {{{saveLabel}}}
    </button>
    <button type="button" data-action="roll-area-damage">
        {{localize "PF2E.Damage.Kind.Damage.Roll.Verb"}}
    </button>
    <button type="button" data-action="place-area-template">
        {{localize "PF2E.Item.Spell.MeasuredTemplate.Place" area=areaLabel}}
    </button>
</section>
