{{#if withoutResources}}
    <div class="notification warning">{{localize "PF2E.Item.Ability.CraftedItem.CraftedWithoutResources"}}</div>
{{/if}}

<div class="description" data-auto-collapse>
    {{{description}}}
</div>

{{#if (or selfEffect craftedItem activate)}}
    <div class="message-buttons">
        {{#if craftedItem}}
            <div class="crafted-item">
                {{{localize "PF2E.Item.Ability.CraftedItem.Crafted" item=craftedItem}}}
            </div>
        {{/if}}
        {{#if selfEffect}}
            <button type="button" data-action="applyEffect" data-targets="{{actor.uuid}}" data-visibility="owner">
                {{localize "PF2E.Action.ApplyEffect"}}
            </button>
        {{/if}}
        {{#if activate}}
            <button type="button" data-action="activate" data-uuid="{{activate.uuid}}" data-visibility="owner">
                {{localize "PF2E.Item.Activation.Activate"}}
            </button>
        {{/if}}
    </div>
{{/if}}
