<div class="inventory-details">
    <div class="form-group">
        <label for="{{item.uuid}}-system.price.value">{{localize "PF2E.PriceLabel"}}</label>
        <div class="form-fields">
            <input type="text" id="{{item.uuid}}-system.price.value" name="system.price.value" value="{{priceString}}" />
        </div>
    </div>
</div>

<div class="form-group stacked kit-list">
    <span class="label">{{localize "PF2E.KitItems"}}</span>
    {{#> kitItems @root}}system.{{/kitItems}}
</div>

{{#*inline "kitItems"}}
    <ul class="kit-items">
        {{#each items as |item key|}}
            <li class="kit-item" data-pack-id="{{item.pack}}" data-index="{{key}}" data-item-id="{{item.id}}" {{#if item.isContainer}}data-container-id="{{key}}"{{/if}}>
                <img class="kit-item-image" src="{{item.img}}" />
                <input type="number" class="kit-item-quantity" value="{{item.quantity}}" name="{{@partial-block}}items.{{key}}.quantity" />
                <div class="kit-item-name">{{item.name}}{{#if item.fromWorld}}<i class="fa-solid fa-globe" data-tooltip="PF2E.KitWorldItem"></i>{{/if}}</div>
                <input type="hidden" value="{{item.uuid}}" name="{{@partial-block}}items.{{key}}.uuid" data-dtype="String" />
                <input type="hidden" value="{{item.name}}" name="{{@partial-block}}items.{{key}}.name" type="hidden" data-dtype="String" />
                <input type="hidden" value="{{item.isContainer}}" name="{{@partial-block}}items.{{key}}.isContainer" data-dtype="Boolean" />
                <a class="kit-item-remove" data-action="remove"><i class="fa-solid fa-xmark"></i></a>
                {{#if item.items}}
                    {{#> kitItems item}}{{@partial-block}}items.{{key}}.{{/kitItems}}
                {{/if}}
            </li>
        {{/each}}
    </ul>
{{/inline}}
