{{formGroup systemFields.action label=(localize "PF2E.ActionTypeAction") value=data.action choices=attackActions}}

{{#unless (eq data.action "strike")}}
    <div class="form-group">
        <label for="{{fieldIdPrefix}}area-size">{{localize "PF2E.Area.InFeet"}}</label>
        <div class="details-container-two-columns">
            <input
                id="{{fieldIdPrefix}}area-size"
                type="number"
                data-property="system.area.value"
                min="5"
                step="5"
                value="{{data.area.value}}"
            />
            <select id="{{fieldIdPrefix}}area-type" name="system.area.type">
                {{selectOptions areaShapes selected=data.area.type blank="" localize=true}}
            </select>
        </div>
    </div>
{{/unless}}

<div class="form-group attack-modifier">
    <label>{{modifierOrSave.label}}</label>
    <input type="number" name="system.bonus.value" value="{{modifierOrSave.value}}" />
</div>

{{#unless item.traits.config.thrown}}
    {{formGroup systemFields.range.fields.increment type="number" value=item._source.system.range.increment}}
    {{formGroup systemFields.range.fields.max type="number" value=item._source.system.range.max}}
{{/unless}}

<ol class="form-list">
    {{#each data.damageRolls as |damageRoll key|}}
        <li class="damage-partial" data-key="{{key}}">
            <div class="form-group">
                <div class="form-fields">
                    <label>{{localize "PF2E.DamageLabel"}}</label>
                    <div class="form-fields">
                        <input type="text" name="system.damageRolls.{{key}}.damage" value="{{lookup this "damage"}}" />
                    </div>

                    <label>{{localize "PF2E.Roll.Type"}}</label>
                    <select name="system.damageRolls.{{key}}.damageType">
                        {{selectOptions @root.damageTypes selected=damageRoll.damageType localize=true}}
                    </select>

                    <label>{{localize "PF2E.Category"}}</label>
                    <select name="system.damageRolls.{{key}}.category">
                        {{selectOptions @root.damageCategories selected=damageRoll.category blank="" localize=true}}
                    </select>

                    <a class="damage-control remove-partial icon fa-solid fa-trash" data-action="remove-partial"></a>
                </div>
            </div>
        </li>
    {{/each}}
    <li class="damage-partial add">
        <div class="form-group">
            <label>
                <a class="damage-control" data-action="add-partial">{{localize "PF2E.NPCWeaponAddDamage"}} <i class="fa-solid fa-plus"></i></a>
            </label>
        </div>
    </li>
</ol>

<div class="form-group stacked">
    <label>
        {{localize "PF2E.NPCWeaponAttackEffect"}}
        <a class="tag-selector" data-tag-selector="basic" data-title="PF2E.NPCWeaponAttackEffect" data-config-types="attackEffects" data-property="system.attackEffects"><i class="fa-solid fa-pen-to-square"></i></a>
    </label>

    <ul class="traits-list tags">
        {{#each attackEffects as |attackEffect|}}
            {{#if attackEffect.selected}}
                <li class="tag tag_alt" data-attack-effect="{{attackEffect.value}}">{{localize attackEffect.label}}</li>
            {{/if}}
        {{/each}}
    </ul>
</div>
