<div class="form-group">
    <label for="automation-settings-{{setting.key}}">{{localize setting.name}}</label>
    <div class="form-fields">
        {{#if setting.isSelect}}
            <select name="{{setting.key}}" id="automation-settings-{{setting.key}}">
                {{selectOptions setting.choices selected=setting.value localize=true}}
            </select>
        {{else if setting.isCheckbox}}
            <input type="checkbox" name="{{setting.key}}" id="automation-settings-{{setting.key}}"
                   {{checked setting.value}} />
        {{else if setting.isDataField}}
            {{formInput setting.type name=setting.key id=(concat "automation-settings-" setting.key)
                        value=setting.value localize=true}}
        {{/if}}
    </div>
    <p class="hint">{{localize setting.hint}}</p>
</div>
