<div class="standard-form scrollable">
    {{#each settings as |setting key|}}
        {{#if (eq key "proficiencyVariant")}}
            <fieldset>
                <legend>{{localize "PF2E.SETTINGS.Variant.Proficiency.Legend"}}</legend>

                {{formGroup setting.type value=setting.value choices=setting.choices rootId=../rootId classes="slim"
                            localize=true}}

                <div class="pwol-modifiers flexrow">
                    {{#> pwolModifiers @root}}{{/pwolModifiers}}
                </div>
            </fieldset>
        {{else if (not setting.pwolModifier)}}
            {{formGroup setting.type value=setting.value choices=setting.choices classes="slim" rootId=../rootId
                        localize=true}}
        {{/if}}
    {{/each}}
</div>

{{~#*inline "pwolModifiers"~}}
    {{#with settings.proficiencyUntrainedModifier as |subsetting|}}
        {{formGroup subsetting.type value=subsetting.value rootId=../rootId classes="slim" localize=true
                    disabled=(not ../settings.proficiencyVariant.value)}}
    {{/with}}
    {{#with settings.proficiencyTrainedModifier as |subsetting|}}
        {{formGroup subsetting.type value=subsetting.value rootId=../rootId classes="slim" localize=true
                    disabled=(not ../settings.proficiencyVariant.value)}}
    {{/with}}
    {{#with settings.proficiencyExpertModifier as |subsetting|}}
        {{formGroup subsetting.type value=subsetting.value rootId=../rootId classes="slim" localize=true
                    disabled=(not ../settings.proficiencyVariant.value)}}
    {{/with}}
    {{#with settings.proficiencyMasterModifier as |subsetting|}}
        {{formGroup subsetting.type value=subsetting.value rootId=../rootId classes="slim" localize=true
                    disabled=(not ../settings.proficiencyVariant.value)}}
    {{/with}}
    {{#with settings.proficiencyLegendaryModifier as |subsetting|}}
        {{formGroup subsetting.type value=subsetting.value rootId=../rootId classes="slim" localize=true
                    disabled=(not ../settings.proficiencyVariant.value)}}
    {{/with}}
{{~/inline~}}
