<li class="strike{{#if action.ready}} ready{{/if}}" {{#unless action.visible}}hidden{{/unless}} data-strike data-action-index="{{index}}">
    <div class="item-image variant-strike framed{{#if action.ready}} ready{{/if}}" data-action="strike-attack" data-variant-index="0">
        <img src="{{action.item.img}}" />
        <i class="fa-solid fa-dice-d20"></i>
    </div>
    <section>
        {{#unless omitName}}
            <h4 class="name">
                <a data-action="toggle-summary">{{action.label}}</a>
                {{#if action.item.isTemporary}}
                    <i
                        class="fa-solid fa-clock"
                        data-tooltip="PF2E.TemporaryItemToolTip"
                        data-tooltip-direction="RIGHT"
                    ></i>
                {{/if}}
            </h4>
        {{/unless}}

        {{#if action.ready}}
            <!-- ATTACK/DAMAGE -->
            {{#if action.canAttack}}{{#> attackDamage action}}{{/attackDamage}}{{/if}}
        {{else if (not action.handsAvailable)}}
            <span class="hands-occupied">{{localize "PF2E.Actor.Character.HandsOccupied"}}</span>
        {{/if}}

        {{#if action.ready}}
            {{#each action.altUsages as |usage index|}}
                <div class="alt-usage" data-tooltip-direction="LEFT">
                    {{#if usage.item.isThrown}}
                        <img class="alt-usage-icon" src="{{resolvePath "icons/mdi/thrown.svg"}}" data-tooltip="{{localize "PF2E.Item.Weapon.ThrownUsage.Label"}}" />
                    {{else if (eq usage.type "auto-fire")}}
                        <img class="alt-usage-icon" src="{{resolvePath "assets/icons/striking-balls.svg"}}" data-tooltip="{{localize "PF2E.Actions.AutoFire.Title"}}" />
                    {{else if usage.item.isRanged}}
                        <i class="alt-usage-icon fa-regular fa-bullseye-arrow" inert data-tooltip="{{localize "PF2E.Item.Weapon.MeleeUsage.Label"}}"></i>
                    {{else}}
                        <img class="alt-usage-icon" src="{{resolvePath "icons/mdi/sword.svg"}}" data-tooltip="{{localize "PF2E.Item.Weapon.MeleeUsage.Label"}}" />
                    {{/if}}
                    {{#> attackDamage usage altUsageIndex=index}}{{/attackDamage}}
                </div>
            {{/each}}

            {{#if action.ammunition.requiresReload}}
                <div class="ammo">
                    {{#each action.ammunition.loaded as |ammo|}}
                        <div class="loaded {{#if (eq ammo.id ../action.ammunition.selected.id)}}selected{{/if}}" data-item-id="{{ammo.id}}">
                            <button type="button" class="inline-control" data-action="select-ammo" {{#if (eq ammo.id ../action.ammunition.selected.id)}}inert{{/if}}>
                                <img src="{{ammo.img}}" />
                                <span class="name">{{ammo.name}}</span>
                            </button>
                            {{#if ammo.isTemporary}}
                                <i
                                    class="fa-solid fa-clock"
                                    data-tooltip="PF2E.TemporaryItemToolTip"
                                    data-tooltip-direction="RIGHT"
                                ></i>
                            {{/if}}
                            <span class="magazine" >
                                <i class="icon"></i>
                                <input
                                    type="text"
                                    id="{{@root.options.id}}-loaded-{{ammo.id}}-quantity"
                                    data-action="change-ammo-quantity"
                                    data-allow-delta
                                    value="{{ammo.quantity}}"
                                    data-min="0"
                                    data-max="{{ammo.max}}"
                                    data-refocus="{{../action.item.id}}-{{ammo.id}}"
                                />
                            </span>
                            <button type="button" class="use-action unload" data-action="unload">
                                <i class="fa-solid fa-eject" inert></i>
                            </button>
                        </div>
                    {{/each}}
                    {{#if action.ammunition.remaining}}
                        <div class="empty plain">
                            <a class="name" data-action="reload" data-anchor-id="{{action.item.uuid}}-actions">
                                <span>{{localize "PF2E.Actions.Interact.Reload.Title"}} <span class="action-glyph">{{action.ammunition.reloadGlyph}}</span></span>
                            </a>
                            <span class="remaining">
                                {{#if (gt action.ammunition.capacity 1)}}
                                    {{localize "PF2E.Actor.Character.EmptyMultipleLabel" value=action.ammunition.remaining}}
                                {{else}}
                                    {{localize "PF2E.Actor.Character.EmptyLabel"}}
                                {{/if}}
                            </span>
                        </div>
                    {{/if}}
                </div>
            {{else if action.ammunition}}
                <div class="ammo auxiliary-actions">
                    <select data-action="link-ammo">
                        {{selectOptions action.ammunition.compatible selected=action.ammunition.selected.id valueAttr="id" blank="PF2E.NoAmmoLabel" localize=true}}
                    </select>
                </div>
            {{/if}}
        {{/if}}

        {{#if action.handsAvailable}}
            <div class="auxiliary-actions{{#if action.ready}} weapon-drawn{{/if}}">
                {{#each action.auxiliaryActions as |aux index|}}
                    <button class="use-action" type="button" data-action="auxiliary-action" data-auxiliary-action-index="{{index}}">
                        <span>{{aux.label}}</span>
                        <span class="action-glyph">{{aux.glyph}}</span>
                        {{#if aux.options}}
                        <select class="modular" data-action="auxiliary-action" data-auxiliary-action-index="{{index}}">
                            {{#each aux.options as |option|}}
                                <option value="{{option.value}}"{{#if option.selected}} selected{{/if}}>
                                    {{option.label}} {{#if option.selected}}✔️{{/if}}
                                </option>
                            {{/each}}
                        </select>
                        {{/if}}
                    </button>
                {{/each}}
            </div>
        {{/if}}
    </section>

    <div class="item-summary" hidden="hidden">
        <div class="item-description">
            {{{action.description}}}
        </div>
        <div class="item-properties tags">
            {{#each action.traits as |trait|}}
                <span class="tag {{trait.cssClass}}"{{#if trait.description}} data-tooltip="{{trait.description}}"{{/if}}>{{trait.label}}</span>
            {{/each}}
            {{#each action.weaponTraits as |trait|}}
                <span class="tag tag_alt {{trait.cssClass}}"{{#if trait.description}} data-tooltip="{{trait.description}}"{{/if}}>{{trait.label}}</span>
            {{/each}}
            {{#if action.item.system.reload.label}}
                <span class="tag tag_secondary">{{action.item.system.reload.label}}</span>
            {{/if}}
            {{#if action.item.system.maxRange}}
                <span class="tag tag_secondary">{{localize "PF2E.Action.Range.MaxN" n=action.item.system.maxRange}}</span>
            {{else if action.item.system.range}}
                <span class="tag tag_secondary">{{localize "PF2E.Action.Range.IncrementN" n=action.item.system.range}}</span>
            {{/if}}
        </div>
    </div>
</li>

{{#*inline "attackDamage"}}
    <div class="button-group tags" data-tooltip-direction="UP">
        {{#each variants as |variant index|}}
            <button type="button" class="tag tag_secondary variant-strike" data-action="strike-attack" data-variant-index="{{index}}"
                {{#if ../altUsageIndex includeZero=true}}data-alt-usage="{{../altUsageIndex}}"{{/if}}
                {{#if (eq ../quantity 0)}} disabled data-tooltip="{{localize "PF2E.ErrorMessage.WeaponQuantityZero"}}"{{/if}}
            >
                {{#if (eq ../type "strike")}}
                    {{#if (eq index 0)}}
                        <span class="name">{{localize "PF2E.WeaponStrikeLabel"}}</span>
                        <span class="action-glyph">{{../glyph}}</span>
                    {{/if}}
                    {{variant.label}}
                {{else}}
                    {{variant.label}}
                    <span class="action-glyph">{{../glyph}}</span>
                {{/if}}
            </button>
        {{/each}}
        {{#if item.dealsDamage}}
            <button type="button" class="tag damage" data-action="strike-damage"
                {{#if altUsageIndex includeZero=true}}data-alt-usage="{{altUsageIndex}}"{{/if}}
                >{{localize "PF2E.DamageLabel"}}</button>
            <button type="button" class="tag damage" data-action="strike-critical"
                {{#if altUsageIndex includeZero=true}}data-alt-usage="{{altUsageIndex}}"{{/if}}
            >{{localize "PF2E.CriticalDamageLabel"}}</button>

            {{#if (or doubleBarrel versatileOptions)}}
                <div class="toggles flexrow">
                    {{#if doubleBarrel}}
                        <button
                            type="button"
                            class="double-barrel color physical{{#if doubleBarrel.selected}} selected{{/if}}"
                            data-action="toggle-weapon-trait"
                            data-trait="double-barrel"
                            data-tooltip="{{localize "PF2E.TraitDoubleBarrel"}}"
                        >
                            <span class="fa-stack fa-fw">
                                <i class="fa-solid barrels fa-pause fa-rotate-90 fa-stack-1x icon"></i>
                                <i class="fa-solid blast fa-explosion fa-rotate-90 fa-stack-1x icon"></i>
                            </span>
                        </button>

                        {{#if versatileOptions}}<hr class="vr" />{{/if}}
                    {{/if}}

                    {{#each versatileOptions as |option|}}
                        <button
                            type="button"
                            class="damage color {{option.value}}{{#if option.selected}} selected{{/if}}"
                            value="{{option.value}}"
                            {{disabled option.selected}}
                            {{#if altUsageIndex includeZero=true}}data-alt-usage="{{altUsageIndex}}"{{/if}}
                            data-action="toggle-weapon-trait"
                            data-trait="versatile"
                            data-tooltip="{{localize option.label}}"
                        >
                            <i class="fa-solid fa-{{option.glyph}} fa-fw icon"></i>
                        </button>
                    {{/each}}
                </div>
            {{/if}}
        {{/if}}
    </div>
{{/inline}}
