<div>
    <section class="tab {{#if (eq activeTab "core")}} active{{/if}}" data-group="primary" data-tab="core">
        <div data-application-part="form"></div>
    </section>

    {{!-- PF2e Settings --}}
    <section class="tab standard-form{{#if (eq activeTab systemId)}} active{{/if}}" data-tab="pf2e" data-group="primary">
        <div class="form-group">
            <label for="{{rootId}}-showEffectPanel">{{localize "PF2E.SETTINGS.User.EffectPanel.Name"}}</label>
            <div class="form-fields">
                <input id="{{rootId}}-showEffectPanel" type="checkbox"
                       name="{{concat "flags." systemId ".settings.showEffectPanel"}}"
                       {{checked systemFlags.settings.showEffectPanel}} />
            </div>
            <p class="hint">{{localize "PF2E.SETTINGS.User.EffectPanel.Hint"}}</p>
        </div>

        <div class="form-group">
            <label for="{{rootId}}-showCheckDialogs">{{localize "PF2E.SettingsQuickChecksLabel"}}</label>
            <div class="form-fields">
                <input id="{{rootId}}-showCheckDialogs" type="checkbox"
                       name="{{concat "flags." systemId ".settings.showCheckDialogs"}}"
                       {{checked settings.showCheckDialogs}} />
            </div>
            <p class="hint">{{localize "PF2E.SettingsQuickChecksNotes"}}</p>
        </div>

        <div class="form-group">
            <label for="{{rootId}}-showDamageDialogs">{{localize "PF2E.SettingsQuickDamageLabel"}}</label>
            <div class="form-fields">
                <input id="{{rootId}}-showDamageDialogs" type="checkbox"
                       name="{{concat "flags." systemId ".settings.showDamageDialogs"}}"
                       {{checked settings.showDamageDialogs}} />
            </div>
            <p class="hint">{{localize "PF2E.SettingsQuickDamageNotes"}}</p>
        </div>

        <div class="form-group monochrome-darkvision">
            <label for="{{rootId}}-monochromeDarkvision">
                {{localize "PF2E.SETTINGS.User.MonochromeDarkvision.Name"}}
            </label>
            <div class="form-fields">
                <input id="{{rootId}}-monochromeDarkvision" type="checkbox"
                       name="{{concat "flags." systemId ".settings.monochromeDarkvision"}}"
                       {{checked settings.monochromeDarkvision}} />
            </div>
            <p class="hint">{{localize "PF2E.SETTINGS.User.MonochromeDarkvision.Hint"}}</p>
        </div>
    </section>
</div>
