<p>{{prompt}}</p>

<section class="transfer-data">
    <img src="{{item.img}}" />
    <span class="name">{{item.name}}</span>
    <div class="form-group">
        <label for="{{rootId}}-quantity">{{localize "PF2E.QuantityLabel"}}</label>
        <div class="form-fields">
            <range-picker id="{{rootId}}-quantity" name="quantity" value="{{quantity}}"
                        min="1" max="{{maxQuantity}}" step="1"></range-picker>
        </div>
    </div>
</section>


{{#if lockStack}}
    <input type="hidden" name="newStack" value="true" data-dtype="Boolean" />
{{else if (ne mode "gift")}}
    <div class="form-group">
        <label for="{{rootId}}-newStack">{{localize "PF2E.loot.Stack"}}</label>
        <div class="form-fields">
            <input type="checkbox" id="{{rootId}}-newStack" name="newStack" {{checked newStack}} />
        </div>
    </div>
{{/if}}
