<fieldset>
    <legend>{{localize "PF2E.loot.SplitCoinsPopupHeader"}}</legend>
    {{#each actorInfo as |info|}}
        <label>
            <input type="checkbox" name="actorIds" value="{{info.id}}" {{checked info.checked}} />
            <span>{{info.name}}</span>
        </label>
    {{/each}}
</fieldset>
{{#if canBreakCoins}}
    <div class="form-group slim">
        <label for="{{rootId}}-breakCoins">{{localize "PF2E.loot.AllowConversion"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="breakCoins" id="{{rootId}}-breakCoins"/>
        </div>
    </div>
{{/if}}
<div class="form-footer">
    <button type="submit">
        <i class="fa-regular fa-floppy-disk"></i>
        {{localize "PF2E.loot.SplitCoinsLabel"}}
    </button>
</div>
